.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formulario > div {
    display: flex;
}

.link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}